[Unit]
Description=roundrobin MAP debugger
After=network-online.target

[Service]
WorkingDirectory=/usr/local/etc/roundrobin
EnvironmentFile=-/usr/local/etc/roundrobin/config.env
ExecStart=/usr/local/bin/roundrobin
ExecStop=/bin/kill ${MAINPID}
Restart=always
Type=simple

StandardOutput=append:/var/log/roundrobin.log
StandardError=append:/var/log/roundrobin.log

[Install]
WantedBy=multi-user.target
